<launch>
    <arg name="gyro_dps" default="RANGE_500_DPS"/>
    <arg name="acc_g" default="RANGE_4G"/>
    
    <node name="icm20948" pkg="icm20948_driver" type="icm20948.py" respawn="false" respawn_delay="2" output="screen">
        <param name="gyro_dps" value="$(arg gyro_dps)"/>
        <param name="acc_g" value="$(arg acc_g)"/>

        <rosparam command="load" file="$(find icm20948_driver)/tools/on_top_of_vehicle.yaml" />
    </node>

    <!-- <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node">
        <param name="stateless" value="false"/>
        <param name="use_mag" value="true"/>
    </node> -->

    <!-- <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
        <param name="do_bias_estimation" value="true"/>
        <param name="do_adaptive_gain" value="true"/>
        <param name="use_mag" value="true"/>
        <param name="gain_acc" value="0.01"/>
        <param name="gain_mag" value="0.01"/>
    </node> -->

    <node name="mag_marker_publisher" pkg="icm20948_driver" type="mag_marker_publisher.py"/>
</launch>
