<launch>
    <arg name="gyro_dps" default="RANGE_500_DPS"/>
    <arg name="acc_g" default="RANGE_4G"/>

    <arg name="mag_hard_x" default="19.65e-6"/>
    <arg name="mag_hard_y" default="29.55e-6"/>
    <arg name="mag_hard_z" default="-28.65e-6"/>
    
    <node name="icm20948" pkg="icm20948" type="icm20948.py" respawn="true" respawn_delay="2" output="screen">
        <param name="gyro_dps" value="$(arg gyro_dps)"/>
        <param name="acc_g" value="$(arg acc_g)"/>

        <param name="mag_hard_x" value="$(arg mag_hard_x)"/>
        <param name="mag_hard_y" value="$(arg mag_hard_y)"/>
        <param name="mag_hard_z" value="$(arg mag_hard_z)"/>
    </node>
</launch>
